html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

/*CHANGE LOGO NAVBAR MD*/
@media screen and (max-width: 1155px) {
  .logo {
    display: none;
  }
}

@media screen and (min-width: 1155px) {
  .logo2 {
    display: none;
    background-repeat: no-repeat;
  }
}

/************************************************************************************************************************************/
/*INICIO*/
/************************************************************************************************************************************/
@media screen and (min-width: 1155px) {
  .carousel {
    width: 75% !important;
  }
}
@media screen and (max-width: 1155px) {
  .carousel {
    width: 100% !important;
  }
}

/************************************************************************************************************************************/
/*HISTORIA*/
/************************************************************************************************************************************/
.residentImg {
  width: 100%;
  max-width: 30em;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .styleHistory {
    font-size: 16px !important;
  }

  .residentImg img {
    max-width: 80%;
  }
}

/************************************************************************************************************************************/
/*EVENTOS*/
/************************************************************************************************************************************/
.eventBg {
  background-image: url("../img/eventos-bg.jpg");
  background-size: cover;
}

.event-info h2 {
  /*0.8 de opacidad*/
  background-color: rgba(255, 255, 255, 0.8);
  padding: 15px;
  border-radius: 20px;
}

/*HOVER*/
.image-container img {
  border-radius: 20px;
  transition: transform 0.3s;
}
.image-container img:hover {
  transform: scale(0.9);
}

@media screen and (max-width: 768px) {
  .paddingButton {
    padding: 25%;
  }
}

/************************************************************************************************************************************/
/*PRODUCTOS*/
/************************************************************************************************************************************/

/*HOVER*/
.card-img-top {
  transition: transform 0.3s;
}
.card-img-top:hover {
  transform: scale(1.07);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.hiddenEffect {
  overflow: hidden;
}

/************************************************************************************************************************************/
/*CONTACTO*/
/***********************************************************************************************************************************/
#message {
  resize: none;
}

@media screen and (max-width: 768px) {
  .h2Contact {
    font-size: 20px;
  }

  .styleContact {
    font-size: 16px !important;
  }

  #message,
  #email,
  #name {
    max-width: 97%;
  }

  .btnContact {
    max-width: 30%;
  }

  .btnContact-container {
    text-align: center;
  }
}
